// Import styling base.
@import './../../assets/styles/base.scss';

header {
  padding: 5px 0;
  content: '';
  clear: both;
  display: table;
  width: 100%;
  background-color: $lightBrown;
  border-bottom: 2px solid $darkBrown;
  .wrapper {
    width: 100%;
  }
}

nav{
  float: left;
  margin: 18px 0;
  font-family: 'Roboto', sans-serif;
  a {
    margin-right: 30px;
    text-decoration: none;
    color: $darkBrown;
    transition: .25s color;
    &.active {
      font-weight: 600;
    }
  }
}

.user-information-wrapper {
  position: relative;
  float: right;
  i {
    cursor: pointer;
    color: $darkBrown;
    margin: 15px 0;
    font-size: 24px;
    transition: .25s color;
    &:hover{
      color: $blue;
    }
    &.active {
      color: $blue;
    }
  }
}
